EDC2015-Trabalho2/App_Data/curso.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="cursos">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="curso" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:short" name="guid"/>
              <xs:element type="xs:string" name="codigo"/>
              <xs:element type="xs:string" name="nome"/>
              <xs:element type="xs:string" name="grau"/>
              <xs:element type="xs:byte" name="ciclo"/>
              <xs:element name="departamentos">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="departamento" maxOccurs="unbounded" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="areascientificas">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element type="xs:string" name="areacientifica" maxOccurs="unbounded" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="areasformacao">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element type="xs:string" name="areaformacao" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="regime"/>
              <xs:element type="xs:string" name="local"/>
              <xs:element name="provas">
                <xs:complexType mixed="true">
                  <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element type="xs:string" name="br"/>
                    <xs:element type="xs:string" name="strong"/>
                    <xs:element name="ul">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="li" maxOccurs="unbounded" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="a">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:anyURI" name="href" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:choice>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="m23"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
